/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yarndings+12&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* TEXT */

.script-text {
    font-family: 'Reenie Beanie';
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.white-text {
    color: white;
}

.red-text {
    color: var(--accent-red);
}

.blue-text {
    color: var(--accent-blue);
}

.yellow-text {
    color: var(--accent-yellow);
}

.grey-text {
    color: rgb(153, 153, 153);
}

.pixel-symbol {
    font-family: 'Yarndings 12';
    font-size: 3em;
}

.pixel-bullet {
    font-family: 'Yarndings 12';
    font-size: 2.3em;
    margin: 0 0.9rem 0 0rem;
}

/* PAGE BASICS */

html {
    background-color: var(--background);
    scroll-behavior: smooth;
}

body {
    font-family: 'Crimson Text';
}

h1 {
    font-family: 'Crimson Text';
    font-style: italic;
    /*color: var(--title-colour);*/
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 1.8em;
}

p {
    font-size: 1.4em;
}

/* TRANSITION */

/*
The class selector "." selects HTML elements with a specific
class attribute
*/
a, 
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

.nav__current {
    font-size: 1em;
}

/* 
flexbox:
display property decides how things are arranged on the page
(can be block or in-line as in one element after the other, or 
can be a flex from the left side or the right side 
*/
nav, 
.nav-links {
    display: flex;
}

/* 
"justify-content" defines how the browser distributes space 
    between and around content items along the main axis of a
    flex container (and the inline axis of a grid container)
    see: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
17vh specifies 17% of the screen's height 
*/
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; 
}

/* 
rem is like pixels
"list-style: none" removes the bullet points 
*/
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--accent-blue);
    /*
    background-color: var(--accent-colour-light);
    */

    /* underline on hover */
    /*
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-color: var(--accent-colour-light);
    */
}

.logo {
    font-size: 2rem;
}

/*
"cursor: default" shows the normal arrow cursor
*/
.logo:hover {
    cursor: default;
}

/* SECTIONS in general */

section {
    padding: 5vh 0;
    height: auto;
    margin: 0 10vw;
    box-sizing: border-box;
    min-height: fit-content;    /* ensures things are not overlapping */
}

.section-container{
    display: flex;
}

/* HAMBURGER MENU */

/*
The id "#" selector selects the id attribute of an
HTML element to select a specific element; an id 
is always unique within the page so it is chosen 
to select a single, unique element 
*/
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    color: white;
}

/*
Makes the lines of the hamburger menu visible
*/
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--accent-blue);
    transition: all 0.3 ease-in-out;
}

/*
The links when the hamburger menu is opened
"top: 100%" starts the menu links at the end of its div
"right: 0" positions the menu links at the rightmost edge of its div
"overflow: hidden" makes the link texts invisible, leaving the hamburger
"transition: ... ease-in-out" specifies a trasition effect with a slow start and end
*/
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

#hero menu-links a {
    color: white;
}

.menu-links a:hover {
    color: var(--accent-colour);
}

.menu-links li {
    /* Removes bullet points */
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    background: var(--accent-colour);
}

/*
first-child refers to first spanned element
*/
.hamburger-icon.open span:first-child {
    /* transforms the first line, moving it to one of the lines in an X */
    transform: rotate(45deg) translate(10px, 5px);
}

/*
nth-child(2) refers to the second spanned element
*/
.hamburger-icon.open span:nth-child(2) {
    /* removes the second line completely */
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    /* transforms the first line, moving it to one of the lines in an X */
    transform: rotate(315deg) translate(10px, -5px);
}

/*      THIS WAS IN THE TUTORIAL BUT I DON'T KNOW WHY
.hamburger-icon span:first-child {
    transform: none
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none
}
*/

/* HERO SECTION */

#hero {
    /* gap: 5rem; */
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.hero-text-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertical centering if flex-direction: row */
    justify-content: center;
    height: 80vh;
    /*display: flex;
    gap: 5rem;
    justify-content: center;*/
}

/* the headshot */
.section__pic-container-square {
    display: flex;
    height: 400px;
    max-width: 400px;
    margin: auto 0;
}

.centered__text {
    /* aligns text in the center of grid */
    align-self: center;

    /* centers text */
    text-align: center;
}

.section__text__p1 {
    text-align: center; /* this is not needed */
    font-weight: 400;
 }

.section__text__p2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.title {
    font-size: 3rem;
    line-height: 110%;
    margin: 0.5rem;
    text-align: center;
}

.title__hidden {
    font-size: 3rem;
    line-height: 110%;
    margin: 0.5rem;
    text-align: left;
}

.page__subtitle {
    text-align: left;
}

.hamburger__highlight__text {
    /*
    color: var(--accent-colour);
    background-color: var(--accent-colour-light);
    */
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent-yellow);
    text-decoration: none;
}

.highlight__text {
    /*
    color: var(--accent-colour);
    background-color: var(--accent-colour-light);
    */
    color: var(--accent-yellow);
}

#hero h1 {
    color: white;
}

#hero .centered__text {
    padding-top: 25vh;
}

.socials__container {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

/* ICONS */

.icon {
    cursor: default;
    height: 2rem;
}

.socials-icon {
    cursor: pointer;
    height: 2rem;
}

.hero-icon {
    margin-top: 1rem;
    color: white;
    align-self: center;
}

.hero-icon:hover {
    color: var(--colour-opposite-darker);
}

.ab-icon {
    margin: 1.25rem 0;
    color: var(--accent-colour);
}

.bullet-icon {
    margin: 0.8rem 1rem 0 0.2rem;
}

.hover-bullet:hover, bullet-icon {
    display: none;
}
.hover-bullet:hover, .pixel-symbol {
    display: inline;
}

/* BUTTONS */

.button-container {
    display: flex;
    justify-content:center;
}

.btn {
    width: 8rem;
    border-radius: 2rem;
    padding: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn-wide {
    width: 10rem;
}

.btn-colour-1 {
    background: #F5F5F5;
    border: #C0C0C0 0.1rem solid;
}

.btn-colour-1:hover {
    background: var(--accent-blue);
    border: white 0.1rem solid;
    color: white;
}

.btn-colour-2 {
    border: var(--btn-2-border) 0.1rem solid;
    background: var(--background-lighter);
    color: var(--btn-2-text);
}

.btn-colour-2:hover {
    border: var(--btn-2-hover-border) 0.1rem solid;
    color: var(--btn-2-hover-text);
    /* text colour = white */
}

.btn-container {
    gap: 1rem;
}

/* ABOUT section */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.work-banner {
    height: 35vh;
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.yellow-banner {
    background-color: var(--accent-yellow);
}

.banner__text {
    color: white;
    font-style: italic;
    font-size: 2.2rem;
}

#about {
    position: relative;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;
    gap: 4em;
}

.flowers-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.flower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    align-items: center;
}

.about-details-container {
    flex-direction: column;
    display: flex;
}

.about-pic {
    border-radius: 3rem;
    max-width: 375px;
}

.details-container {
    flex: 1;
    /*
    padding: 1.5rem;
    background: var(--background-lighter);
    border: var(--accent-colour-light) 0.1rem solid;
    border-radius: 2rem;*/
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container-rectangle {
    display: flex;
    height: 400px;
    max-width: 600px;
    margin-top: 2rem;
}

/* EXPERIENCE section */

#experience {
    /* the arrow icon at the bottom right of the
    section has position: absolute, meaning that it
    is absolutely placed based on the closest parent
    element with position: relative */
    position: relative;
    height: auto;
    margin: 0 18vw 8vh 18vw;
}

.experience-sub-title {
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10vw;
}

.experience-list {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-around;
    padding: 0 0 0 1.5rem;
}

.experience-list-item {
    display: flex;
    gap: 0.5rem;
}

.experience-list-item:hover {
    color: var(--accent-blue);
    cursor: pointer;
    transition: all 300ms ease;
}

.section__text__italic {
    font-style: italic;
    color: rgb(153, 153, 153);
 }

#page-hero-nav {
    /* gap: 5rem; */
    margin-left: 0px;
    margin-right: 0px;
}

/* PROJECTS section */

#projects {
    position: relative;
    height: auto;
    min-height: 100%;
}

.project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*
    border: 2.5px solid white;
    border-radius: 10%;*/
}

.play-img {
    max-height: 250px;
}

.project-title {
    margin: 1.75rem 0rem 0.75rem 0rem;
}

.three-col-container {
    gap: 3rem;
    margin: 5vh 0 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*
    border-color: rgb(163, 163, 163);
    background: rgb(245, 245, 245);
    */
}

/*
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}*/

.three-col-item {
    width: 25%;
    flex-grow: 1;
    padding: 1.5rem;
    text-align: center;
    /*
    background: var(--background-lighter);
    border: var(--accent-colour-light) 0.1rem solid;
    border-radius: 2rem;
    */
}

.project-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

.project-btn {
    margin-top: 1.75rem;
}

.disabled-btn {
    pointer-events: none;
}

/* CONTACT section */

#contact {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    /* 1/4 of height */
    padding-top: 35vh;
}

#contact .section__text__p1 {
    font-size: 1.3rem;
}

#contact .title {
    font-size: 3.5rem;
}

#contact .centered__text {
    font-size: 1.5rem;
}

/* FOOTER */

footer {
    height: 20vh;
    margin: 0;
    background-color: var(--accent-red);
    /*background-color: rgb(7, 44, 103);*/
    color: white !important;
}

.footer__container {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; 
}